*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:#0E2148;
    color: #E3D095;
}
.projects_title{
    text-align: center;
    font-family: Times New Roman;
    font-size: 50px;
    margin: 20px;
    background-color: #483AA0;
    border-radius: 20px;
    text-decoration: underline;
}
.projects_description{
    text-align: center;
    font-family: Times New Roman;
    font-size: 30px;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #E3D095;
    font-family: Times New Roman;
    font-size: 20px;
}
.projects_links{
    text-align: center;
    margin: 20px;
    font-family: Times New Roman;
}
li{
    list-style-type: none;
    margin: 15px;
    border-radius: 20px;
    background-color: #7965C1;
    padding: 10px;
    height: 25px;
}
