*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(34, 32, 32);
    color: rgb(203, 203, 186);
}
.home{
    background-color: rgb(151, 148, 148);
    padding: 10px;
    display: flex;
    justify-content: center;
}
#home_button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    border-radius: 10px;
    margin-top: 10px;
}

